/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */

body {
    background-image: url(../img/cork.png);
}

/* Typography */


body {
    font-family: sans-serif,
}

.my-title {
    font-family: "Edu Tas Beginner", sans-serif;
    font-size: 4rem;
    font-weight: 900;

}

.my-description {
    font-family: "Edu Tas Beginner", sans-serif;
    font-size: 2rem;
    font-weight: 900;

}


.my-date {
    font-family: "Sometype Mono", monospace;
}

/* Layout */

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Utilities */

.m-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.m-dcol {
    flex-direction: column;
}

.m-col {
    width: 100%;
    margin-bottom: 20px;
}

.m-flex {
    display: flex;
}

.m-justify-content-between {
    justify-content: space-between;
}

.m-justify-content-center {
    justify-content: center;
    align-items: center;
}

.m-align-items {
    align-items: center;
}


.m-wrap {
    flex-wrap: wrap;
}

.m-mt-30 {
    margin-top: 30px;
}

.m-dnone {
    display: none;
}

/* HEADER */

header {
    width: 100%;
    background-color: lightgrey;
    background-image: url(../img/wall.png);
    height: 100px;

}


/* MAIN */

.m-card {
    background-color: white;
    height: 100%;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3)
}

.m-pin {
    position: absolute;
    right: 45%;
    top: -3%;
}

.m-card-img {
    width: 90%;
    padding-top: 20px;
    margin: 0 auto;

}

.m-card-body {
    margin-top: 5px;
    padding-left: 10px;
    text-align: left;

}

.m-card-body p {
    margin: 0px;
}

/* hover */



.m-card:hover {
    transform: rotateZ(3deg) scale(1.1);
}

.m-card:hover .m-pin {
    display: none;
}



/* OVERLAY CLICK */

#photo-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#photo-wrapper {
    position: relative;
    display: flex;
    width: fit-content;
    margin: 0 auto;

}

#bigPhoto {
    width: 600px;
    height: auto;

}


button {
    padding: 5px 5px;
    border-radius: 50%;
    font-size: 0.7rem;
    border: 0px;
    background-color: tomato;
    position: absolute;
    top: 14px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

}


/* MEDIA QUERY */
/* tablet */
@media screen and (min-width: 768px) {
    .m-col {
        width: calc(50% - 10px);
    }

    #polaroid-grid {
        gap: 10px;
    }
}

/* desktop */

@media screen and (min-width: 1024px) {
    .m-col {
        width: 30%;
    }
}