/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */

body {
    background-image: url(../img/cork.png);
}

/* Typography */


body {
    font-family: sans-serif,
}

.my-title {
    font-family: "Edu Tas Beginner", sans-serif;
    font-size: 4rem;
    font-weight: 900;

}

.my-date {
    font-family: "Sometype Mono", monospace;
}

/* Layout */

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Utilities */

.m-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.m-col {
    width: 30%;
    border: 1px black solid;
}

.m-flex {
    display: flex;
}

.m-justify-content-between {
    justify-content: space-between;
}

.m-wrap {
    flex-wrap: wrap;
}

.m-mt-30 {
    margin-top: 30px;
}

/* HEADER */

header {
    width: 100%;
    background-color: lightgrey;
    background-image: url(../img/wall.png);
    height: 100px;

}